<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130655923-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130655923-1');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Tell Me A Story</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container-fluid h-100">
  <% if (threadTitle === null) { %>
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-xs-12 text-center">
        <fieldset>
          <form action="/" method="post">
            <input class="btn btn-primary"
                  type="submit"
                  value="Tell Me A Story">

            <p>A new story every hour (ish)</p>
          </form>
        </fieldset>
      </div>
    </div>
     <% } %>
     <% if (threadTitle !== null) { %>
    <div class="row w-100 justify-content-end">
      <div class="col-xs-12">
        <fieldset>
          <form action="/" method="post">
            <input class="btn btn-primary" style="margin: 1rem -1rem;"
                  type="submit"
                  value="Tell Me A Story">
          </form>
        </fieldset>
      </div>
    </div>
     <% } %>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 col-md-8 col-sm-12">
          <p><%= threadTitle %></p>
          <% if (comments !== null) { 
            comments.forEach(function(comment) { %>
              <div class="jumbotron"><%- comment %></div>
            <% });
          } %>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</body>
</html>
